body
{
    padding: 0px;
    margin: 0px;
}
a
{
    text-decoration: none;
    color: white;
}
.display-none
{
    display: none;
}

.display-block
{
    display: block;
}


.overlay
{
     background-color: rgba(28, 29, 33 ,0.5);
    height: inherit;
}

header
{
    background: url('../images/header.jpeg');
    height: 625px;
    background-size: cover;
}

header .logo 
{
    padding: 10px;
    font-family: 'Pacifico', cursive;
}

header .logo img
{
    width: 100px;
}
header .nav
{
    display: flex;
    justify-content: space-around;
}

header .nav .pages
{
    margin: 40px 0px;
    font-family: Roboto;
}

header .nav .pages  span
{
    margin: 0px 10px;
}

.drop-down 
{
    cursor: pointer;
    padding: 30px;
    color: white;
}

.drop-down-pages a
{
      color: #1C1D21 ;
}
.drop-down-pages
{
    font-family: Roboto;
    padding: 20px;
    background-color: white;
    position: absolute;
    z-index: 2;
    width: 100%;
}

@media (min-width: 769px)
{
    header .nav .pages span:hover
    {
        border-bottom: 1px solid #FF56CC ;
    }
    #current
    {
        border-bottom: 1px solid #FF56CC ;
    }
    .drop-down
    {
        display: none;
    }
    .drop-down-pages
    {
        display: none;
    }
}

@media (max-width: 768px)
{
    .pages
    {
        display: none;
    }
    .drop-down
    {
        display: block;
    }
}




header .middle
{
    font-family: Roboto;
    color: white;
    max-width: 800px;
    margin: 130px auto;
    text-align: center;
}

header .middle h1
{
    font-size: 60px;
    margin-bottom: 10px;
    font-family: 'Pacifico', cursive;
}


footer
{
    background-color: #1C1D21;
    padding: 50px 50px 20px 50px ;
}

.footer-logo
{
    display: flex;
    justify-content: center;
}

.footer-logo p
{
    font-size: 20px;
    color: white;
    font-family: 'Pacifico', cursive;
}

footer .icons
{
    display: flex;
    width: 330px;
    margin: 0px auto;
}

footer .icons i
{
    padding: 15px;
    margin: 5px;
    border-radius: 3px;
    color: white;
    background-color: #FF56CC ;
}

footer p
{
    text-transform: uppercase;
    color: #ABABAB;
    text-align: center;
    font-family: Roboto;
    margin-top: 20px;
}
section{
    text-align: center;
    padding-bottom: 100px;
}
.headline
{
    color: #1C1D21 ;
    font-size: 30px;
    font-family: Roboto;
    margin: 0px;
    padding: 100px 0px 10px 0px;
}

.bottom
{
    width: 35px;
    height: 4px;
    background-color: #FF56CC;
    margin: 5px auto;
}
.welcome{
    padding-bottom: 50px;
}
.contact-form{
    background-color: antiquewhite;
    width: 80%;
    max-width: 500px;
    text-align: center;
    margin: 0px auto;
    padding: 30px 40px;
    box-sizing: border-box;
    border-radius: 8px;
}
.txtb{
    border: 1px solid gray;
    margin: 8px 0px;
    padding: 12px 18px;
    border-radius: 8px;
}
.txtb label{
    display: block;
    text-align: left;
    color: #333;
    font-size: 14px;
}
.txtb input, .txtb textarea{
    width: 100%;
    border: none;
    background: none;
    outline: none;
    font-size: 18px;
    margin-top: 6px;
}
.btn{
    display: inline-block;
    background-color: #FF56CC;
    padding: 14px 0px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 8px;
    width: 100%;
}













